* {
	
	margin: 0 !important;

}

html, body {
  height: 100%; /* Fullscreen BG */
  width: 100%;
}
body {
	font-family: 'Montserrat';
	background-color: #FCFEFE;
	
}


h1 {
	font-family: 'Unica One';
	font-size: 80px;
	color:#4B4A5A;
}

h2 {
	font-family: 'Unica One';
	font-size: 40px;
	color:#4B4A5A;
	border-bottom: 3px solid #43e8d8;
	display: inline;

}

.heading {
	padding-top: 45px;
	padding-bottom: 45px;
}

ol, ul {
	list-style: none;
}

.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  }

.nav-bar ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100%;
    overflow: hidden;
    background-color: #4B4A5A;
	
}

.nav-bar li {
	float: right;
	padding-top: .455rem;
	padding-right: .75rem;
	
}


.nav-bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	
    text-decoration: none;
	transition: all 0.3s;

}


.nav-bar li a:hover {
	color: #43e8d8;
	text-shadow: 0px 0px 3px #111;

}

/** jumbotron **/

.jumbotron {
  background: linear-gradient(rgba(255,254,253,0.9), rgba(255,254,253,0.9)), url("https://raw.githubusercontent.com/l-wong/l-wong.github.io/master/img/toronto.jpg") center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}

.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.ryelogo {
	height: 200px;
	width: 400px;
 }
 

 .avatar {
 
 	display: block;
	height: 220px;
	width: 220px;
	border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px #CCCCCC;
 
 }

.social-icons {
	font-size: 3em;
	text-align: center;
	padding-top: 20px;
}


.social-icons a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s;
}

.social-icons a:hover,
.social-icons a:focus {
	color: #111;
	text-shadow: 0px 0px 3px #111;
}

.wicslogo {
	height: 110px;
	width: 240px;

}

.tlnlogo {
	height: 125px;
	width: 100px;
}


.mytitle {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 45px;
}

.experience{
	background-color: #F3F6F6;
}


.profile-pic {
	padding-top: 35px;
	padding-bottom: 45px;

}

.blurb {
	padding-bottom: 45px;
}

.contact-btn {
  background-color: #43e8d8;
  color: #FFFF;
  padding: 12px 36px;
  text-transform: uppercase;
}

.contact-btn + .contact-btn {
	margin-left: 6px;
}

.contact-btn.small {
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}

.contact-btn:hover {
	background-color: #FFFF;
	color: #43e8d8;

}

#about {
	padding-bottom: 90px;
}

.about-icons {
	padding-top: 45px;
	padding-bottom: 45px;
}

#projects {

	background-color: #f2f2f2;

	
}