* {
	
	margin: 0 !important;

}
body {
	font-family: 'Montserrat';
	background-color: #FCFEFE;
}


h1, h2 {
	font-family: 'Unica One';
	font-size: 80px;
	color:#4B4A5A;
}

section {
  padding: 100px 0;
}


.row, .column {
	box-sizing: border-box;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	position: relative;
	float: left;
}

.column + .column {
	margin-left: 1.6%;
}

.column-1 {
	width: 6.86666666667%;
}

.column-2 {
	width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
	width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
    }
}

ol, ul {
	list-style: none;
}

.nav-bar ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100%;
    overflow: hidden;
    background-color: #4B4A5A;
	
}

.nav-bar li {
	float: right;
	
}

.nav-bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	
    text-decoration: none;
	transition: all 0.3s;

}

.nav-bar li a:hover {
	color: #141829;
	text-shadow: 0px 0px 3px #111;

}


.home {
	height: 620px;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #F3F6F6;
	border-radius: .3rem;

}



.ryelogo {
	height: 200px;
	width: 400px;
	margin-left: 100px;
 }
 
 .projects {
	 margin-left: 200px;
 }
 
 .edu-details {
	 text-align: left;
	 margin-left: 300px;
	 
 }
 
 .avatar {
 
 	display: block;
    margin: 0 auto;
	height: 220px;
	width: 220px;
	border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px #CCCCCC;
 
 }
 
 .about-me {
 padding-left: 400px;
 padding-right: 400px;
 
 }

.social-icons {
	font-size: 3em;
	text-align: center;
	padding-top: 20px;
}


.social-icons a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s;
}

.social-icons a:hover,
.social-icons a:focus {
	color: #111;
	text-shadow: 0px 0px 3px #111;
}

.experience {
	background-color: #F3F6F6;
	padding-bottom: 100px;

}

.wicslogo {
	height: 110px;
	width: 240px;
	margin-left: 100px;

}

.tlnlogo {
	height: 125px;
	width: 100px;
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(21, end),
    blink-caret .5s step-end infinite;
}

.typewriter {
	display: inline-flex;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.mytitle {
	text-align: center;
}

.container {
	margin: 50px auto;
	width: 400px;
}

/* course list */
.list-title {
	
	position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
	text-align:center;
	
}
.todo {
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before, .todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.todo-list li {
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + .toggle:after{
	opacity: 1;
}

.todo-list .toggle {
    display: block;
	height: 35px;
	width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
	cursor: pointer;
}

.toggle:after {
	content: '';
	position: absolute;
	position: absolute;
	width: 7px;
	height: 3px;
	background: transparent;
	top: 14px;
	left: 13px;
	border: 2px solid #aaa;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
}

.todo-list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before, .todo-list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
    