* {
	
	margin: 0;

}
body {
	font-family: 'Montserrat';
	background-color: #FCFEFE;
}


h1, h2 {
	font-family: 'Unica One';
	font-size: 80px;
	text-align:center;
	color:#4B4A5A;
}

.row, .column {
	box-sizing: border-box;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	position: relative;
	float: left;
}

.column + .column {
	margin-left: 1.6%;
}

.column-2 {
	width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
	width: 32.2666666667%;
}

.nav-bar ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B4A5A;
	
}

.nav-bar li {
	float: right;
	
}

.nav-bar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
	color: #141829;
	background-color: #fff;
}



.home {
	height: 620px;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #F3F6F6;
	border-radius: .3rem;

}



.ryelogo {
	height: 200px;
	width: 400px;
	margin-left: 100px;
 }
 
 .projects {
	 margin-left: 200px;
 }
 
 .edu-details {
	 text-align: left;
	 margin-left: 300px;
	 
 }
 
 .avatar {
 
 	display: block;
    margin: 0 auto;
	height: 220px;
	width: 220px;
	border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px #CCCCCC;
 
 }
 
 .about-me {
 padding-left: 400px;
 padding-right: 400px;
 
 }

.social-icons {
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
}


.social-icons a {

	text-decoration: none;
	transition: all 0.3s;
}

.social-icons a:hover,
.social-icons a:focus {
	text-shadow: 0px 0px 3px #111;
}

.experience {
	background-color: #F3F6F6;
	padding-bottom: 100px;

}

.wicslogo {
	height: 110px;
	width: 240px;
	margin-left: 100px;

}

.tlnlogo {
	height: 125px;
	width: 100px;
}